main {
  display: flex;
  margin: 40px 40px 0px 40px;
}

article {
  font-family: 'Roboto', sans-serif;
  top: 0;
}

article h2 {
  width: 500px;
  height: 40px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  color: #000000;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

article p1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

#stock-level {
  width: 100px;
  height: 12px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.25);

}

#quantity {
  display: flex;
  padding-top: 15px;
  padding-bottom: 20px;
}

#minus {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  border: 1px solid #3F51B5;
  border-radius: 24px;
  width: 40px;
  height: 40px;
  padding: 4px;
  cursor: pointer;
  background: none;
}

#amount {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  width: 40px;
  height: 40px;
  padding: 4px;
  border-style: none;
  background: none;
}

#plus {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  border: 1px solid #3F51B5;
  border-radius: 24px;
  width: 40px;
  height: 40px;
  padding: 4px;
  cursor: pointer;
  background: none;
}

#add-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 16px;
  width: 145px;
  height: 36px;
  background: #3F51B5;
  border-style: none;
  border-radius: 48px;
  color: white;
  cursor: pointer;
}

#add-btn:hover {
  transform: scale(1.1);
}